<div class="container center">
  <h1>All Meetups Everywhere</h1>
</div><br>

<% @meetups.each do |m| %>
  <div class="content center">
    <h3>group: <%= link_to "#{m.group.name}", group_path("#{m.group.id}") %></h3>

  <p>event:  <%= link_to "#{m.name}", group_meetups_path("#{m.group.id}", m) %></p>
  </div>
<% end %>
